root = true

[*]
insert_final_newline = true

[*.{java,py,js}]
charset = utf-8
trim_trailing_whitespace = true

[*.py]
indent_style = space
indent_size = 4

[*.{java,js}]
indent_style = tab

[*.{x,y}ml]
indent_style = space
indent_size = 2
