**/.classpath
**/.project
**/.settings/
**/bin/
**/target/
**/__pycache__/
**/*.egg-info/
**/dist/
**/build/
**/.vscode/
**/.tox/

**/.factorypath
**/*.pyc
**/.coverage
**/coverage.xml
**/*.code-workspace
