[run]
branch = True

[paths]
source =
    fly/graph
    **/site-packages/fly/graph

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    **/__init__.py
    **/examples/*
